site_name: Stretch Body
site_url: https://docs.hello-robot.com/stretch_body
site_description: "Hello Robot Stretch Body Documentation"
copyright: 'Copyright &copy; 2022 Hello Robot Inc'
site_author: Hello Robot Inc
use_directory_urls: True
docs_dir: .
site_dir: ../site

theme:
 name: material
 #font: Arial
 palette:
  - scheme: default
    primary: hello-robot-light
    toggle:
      icon: material/lightbulb-outline
      name: Switch to dark mode
  - scheme: slate
    primary: hello-robot-dark
    toggle:
      icon: material/lightbulb
      name: Switch to light mode
 logo: ./docs/images/hello_robot_logo_light.png
 favicon: ./docs/images/hello_robot_favicon.png
 features:
  - navigation.instant

extra_css:
  - ./docs/extra.css

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.keys
  - admonition

plugins:
  - same-dir
  - mike:
      # these fields are all optional; the defaults are as below...
      version_selector: true   # set to false to leave out the version selector
      css_dir: css             # the directory to put the version selector's CSS
      javascript_dir: js       # the directory to put the version selector's JS
      canonical_version: null  # the version for <link rel="canonical">; `null`
      # uses the version specified via `mike deploy`
  - search
  - tags
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          selection:
            docstring_style: numpy
          rendering:
            show_root_heading: true
            show_source: false
            members_order: source
            heading_level: 3
            show_if_no_docstring: true

extra:
  version:
    provider: mike
    default: latest
  social:
    - icon: material/home
      link: https://hello-robot.com
    - icon: material/twitter
      link: https://twitter.com/HelloRobotInc
    - icon: material/github
      link: https://github.com/hello-robot
    - icon: material/linkedin
      link: https://linkedin.com/company/hello-robot-inc

nav:
 - Overview: README.md
 - Documentation:
    - API: https://docs.hello-robot.com/0.2/stretch-tutorials/stretch_body/tutorial_stretch_body_api/
    - Robot Parameters: docs/robot_parameters.md
 - Tutorials: https://docs.hello-robot.com/0.2/stretch-tutorials/stretch_body/
 - Changelog: CHANGELOG.md
